// Theme variables
// Add your custom variables here.
// You can also override the default Bootstrap variables here.

// Font sizes
$font-size-base: 16px;
// Example overrides
// $font-size-h1: floor(($font-size-base * 2.2));
// $font-size-h2: floor(($font-size-base * 2));
// $font-size-h3: ceil(($font-size-base * 1.55));
// $font-size-h4: ceil(($font-size-base * 1.25));
// $font-size-h5: $font-size-base;
// $font-size-h6: ceil(($font-size-base * 0.85));

$font-family-sans-serif: verdana, geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif     : "Times New Roman", Times, Georgia, serif;

$dropdown-menu-font-size: ceil(($font-size-base * 0.9));
$site-title-size: floor(($font-size-base * 2));
$site-description-size: floor(($font-size-base * 1.5));

$line-height-base: 1.667;
// $icon-font-path: "styles/vendor/bootstrap/fonts/bootstrap/";

$color-1      : rgb(61,183,239);
$color-2      : rgb(23,38,70);
$color-3      : rgb(255,255,255);
$color-4      : rgb(0,0,0);
$color-5      : rgb(183, 183, 183);
$color-6      : rgb(158, 158, 158);
$color-7      : rgb(249, 249, 249);
$color-8      : rgb(183, 183, 183);

$size-screen  : 1200px;
$size-tablet-l: 1024px;
$size-tablet-p: 768px;
$size-phone-l : 480px;
$size-phone-p : 0;

$size-small        : 0 1199px;
$O--phone-p        : 0 480px;
$phone-p--phone-l  : 481px 768px;
$phone-l--tablet-p : 769px 1024px;
$tablet-p--tablet-l: 1025px 1199px;
