@import "node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";
@import "variables";
@import "susy";
@import "font-awesome";

$susy: (
    columns              : 12,
    container            : 75em,
    math                 : fluid,
    output               : float,
    container-position   : center,
    flow                 : ltr,
    gutter-position      : inside,
    gutters              : 1,
    last-flow            : to,
    use-custom: (
        clearfix         : false,
        rem              : true
    ),
    debug: (
        image: show,
        color: rgba(#66f, .25),
        output: overlay,
        toggle: top right,
    ),
);

@include border-box-sizing;

@import "./base/base";
@import "./module/page";
@import "./module/header";
@import "./module/parallax";
@import "./module/breadcrumb";
@import "./module/content";
@import "./module/footer";
