.b-breadcrumb {
    opacity: 0.9;

    &__item {
        display: inline-block;
        padding-left: 1.250em;
        color: $color-3;
        font-size: 0.875em;

        &:first-child {
            padding-left: 0;
        }

        & + &:before {
            content: '→';
            padding-right: 1.250em;
        }
    }

    &__link {
        color: $color-1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}