.b-content {
    overflow: auto;

    &__post {
        @include susy-clearfix;
        @include span(12 of 12);
        padding-top: 4.375em;

        @include susy-breakpoint($size-tablet-l) {
            padding-top: 5.625em;
            @include span(8 of 12 nest);
        }
    }
}

.b-post {
    &__title-wrap {
        line-height: 3.000em;
    }

    &__title {
        font-size: 2.250em;
        font-weight: bold;
        text-transform: uppercase;

        @include susy-breakpoint($size-phone-p) {

        }
    }

    &__divider-wrap {
        margin-top: 0.625em;
        text-align: left;
    }

    &__divider {
        height: 0.188em;
        background: $color-1;
        fill: $color-1;
        border: none;
        width: 4.375em;
        margin: 0;
    }

    &__image {
        width: 100%;
    }

    &__image-wrap {
        margin-top: 3.125em;
    }

    &__post-meta {
        margin-top: 1.500em;
    }

    & p {
        margin: 1.250em 0;
        text-indent: 1.250em;
        line-height: 1.5;
    }
}

.b-post-meta {
    &__item {
        display: inline-block;
        color: $color-5;
        padding: 0 0.375em;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-5;
        padding-left: 0.625em;
        line-height: 1.5;

        &:hover {
            color: $color-6;
        }
    }
}