%b-vertical-align-desktop {
    @include susy-breakpoint($size-tablet-l) {
        &__wrap:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
        }

        &__item {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.b-footer {
    height: 100%;

    &__brand {
        @include span(12 of 12);
        padding-top: 1.5em;

        @include susy-breakpoint($size-tablet-l) {
            @include span(3 of 12);
            height: 100%;
            padding-top: 0;
        }
    }

    &__policy {
        @include span(12 of 12);
        color: $color-8;
        text-align: center;

        @include susy-breakpoint($size-tablet-l) {
            @include span(6 of 12);
            @include pull(9 of 12);
            height: 100%;
        }

        &:before {
            @extend %b-vertical-align-desktop__wrap:before;
        }
    }

    &__p {
        @extend %b-vertical-align-desktop__item;
    }

    &__social {
        @include span(12 of 12);
        text-align: center;
        margin: 1.250em 0 1.250em;

        @include susy-breakpoint($size-tablet-l) {
            @include span(3 of 12);
            @include push(6 of 12);
            height: 100%;
            text-align: right;
            margin-top: 0;
            margin-bottom: 0;
        }

        &:before {
            @extend %b-vertical-align-desktop__wrap:before;
        }
    }
}

.b-social {
    @extend %b-vertical-align-desktop__item;

    &__item {
        display: inline-block;
        padding: 0 0.375em;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        color: $color-8;

        &:hover {
            color: $color-1;
        }
    }

    &__icon {
        font-size: 1.125em;
    }
}