.b-header {
    font-size: 16px;
}

.b-header__navbar {
    @include susy-clearfix;
}

.b-navbar {
    @include susy-clearfix;
    &__panel {
        @include susy-breakpoint($size-screen) {
            display: block;
            height: 7.750em;
            @include susy-clearfix;
        }

        &_tablet {
            position: fixed;
            z-index: 9999;
            @include span(12 nest);
            height: 3.500em;
            @include susy-clearfix;
            @include susy-breakpoint($size-screen) {
                display: none;
            }
        }
    }

    &__brand {
        height: 0;
        overflow: hidden;

        @include susy-breakpoint($size-screen) {
            @include span(3 of 12 nest);
            position: relative;
            text-align: center;
            height: 100%;
            overflow: initial;

            &:after {
                content: "";
                position: absolute;
                width: 1150%;
                height: 150%;
                top: -50%;
                left: -1050%;
                z-index: -1;
                background-color: $color-1;
                transform: skew(-36deg);
            }
        }
    }

    &__info {
        @include susy-breakpoint($size-small) {
            position: fixed;
            left: 0;
            margin: 3.500em 0 0;
            display: none;
            z-index: 1;

            &._active {
                display: block;
            }
        }

        @include susy-breakpoint($size-screen) {
            @include span(9 of 12 last);
        }
    }

    &__menu {
        display: none;

        @include susy-breakpoint($size-small) {
            display: block;
            position: fixed;
            right: 0;
            width: 17.500em;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            z-index: 15;
            transform: translateX(100%);
            margin: 3.500em 0 0;
            color: #000000;
            background: rgb(23, 38, 70);
            transition: 0.3s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
            // max-height: 100%;
            // top: 0;
            // bottom: 0;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            &._active {
                transform: translateX(0%);
            }
        }

        @include susy-breakpoint($size-screen) {
            display: block;
            @include break;
            @include span(9 of 12 nest last);
            position: relative;
            height: 3.250em;
            margin-top: -1.875em;

            &:after {
                content: "";
                position: absolute;
                width: 1150%;
                z-index: -1;
                transform: skew(-36deg);
                height: 100%;
                top: 0%;
                left: -2.375em;
                background-color: $color-2;
            }
        }
    }
}

%b-vertical-align {
    &__wrap:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
    }
}

.b-tablet-menu {
    height: 100%;
    background-color: $color-2;
    @include susy-clearfix;

    &__button-wrap {
        @include span(2 nest);
        height: 100%;
        z-index: 1;

        @include susy-breakpoint($size-screen) {
            @include span(1 nest);
        }
    }

    &__button {
        z-index: 17;
        top: 0.250em;
        left: 0.250em;
        display: inline-block;
        position: relative;
        width: 3.000em;
        height: 3.000em;
        font-size: 1.000em;
        line-height: 3.000em;
        text-align: center;
        cursor: pointer;
        color: $color-3;
        background: none;
        border: none;
        outline: none;
        padding: 0;

        &_right {
            @extend .b-tablet-menu__button;
            float: right;
            margin-right: 0.375em;
        }
    }

    &__icon {
        font-size: 16px;
        background: $color-3;
        width: 1.500em;
        height: 0.250em;
        backface-visibility: hidden;
        border-radius: 0;
        position: relative;
        display: block;
        margin: auto;
        transition: .3s all ease;
        transform: rotate(180deg);

        &:before {
            @extend .b-tablet-menu__icon;
            content: "";
            position: absolute;
            left: 0;
            top: -0.500em;
            transition: .3s all ease;
        }

        &:after {
            @extend .b-tablet-menu__icon:before;
            top: 0.500em;
        }
    }

    &__icon-fa {
        font-size: 1.6em;
        line-height: 2em;
    }

    &__title {
        @include span(8 nest);
        text-align: center;
        height: 3.500em;

        &:before {
            @extend %b-vertical-align__wrap:before;
        }

        @include susy-breakpoint($size-screen) {
            @include span(10 nest);
        }
    }

    &__text {
        font-size: 1.375em;
        color: $color-3;
        font-weight: 700;
        letter-spacing: 0;
        min-width: 10.375em;
        @extend %b-vertical-align__item;
    }
}

.b-brand {
    line-height: 0;
    height: 100%;
    position: relative;

    &__link {
        display: block;
        height: 100%;
        text-align: center;
    }

    &__image {
        position: relative;
        width: 165px;
        height: 76px;
        margin: auto;

        @include susy-breakpoint($size-screen) {
            background-color: blue;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }

        &_left {
            @extend .b-brand__image;
            margin-left: 0;
        }
    }
}

%b-horizontal-menu {
    &__list {
        @include susy-breakpoint($size-screen) {
            list-style-type: none;
            text-align: right;
        }

        &:before {
            @extend %b-vertical-align__wrap:before;
        }
    }

    &__item {
        @extend %b-vertical-align__item;
    }
}

.b-info {
    @include susy-breakpoint($size-small) {
        background: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
        padding: 20px;
        transition: 0.35s all ease;
    }

    &__list {
        @extend %b-horizontal-menu__list;

        @include susy-breakpoint($size-small) {
            &:before {
                display: none;
            }
        }

        @include susy-breakpoint($size-screen) {
            height: 5.875em;
        }
    }

    &__item {
        @include susy-breakpoint($size-small) {
            margin: 0.250em 0 0;
            display: block;
            line-height: 1.500em;

            &:first-child {
                margin: 0;
            }
        }

        @extend %b-horizontal-menu__item;
        margin-left: 3.750em;
    }
}

.b-top-menu {
    &__brand {
        padding: 1.250em 0;
        background-color: $color-1;

        @include susy-breakpoint($size-screen) {
            display: none;
        }
    }
    &__list {
        @extend %b-horizontal-menu__list;

        @include susy-breakpoint($size-screen) {
            height: 3.250em;
        }
    }

    &__item {
        @extend %b-horizontal-menu__item;
        margin-left: -4px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        &:last-child {
            border-right: none;
        }

        @include susy-breakpoint($size-small) {
            width: 100%;
            margin-top: 0.625em;
            border-right: none;
            margin-left: 0;

            &:last-child {
                margin-bottom: 5em;
            }
        }

        @include susy-breakpoint($size-screen) {
            &:hover > .b-top-menu__dropdown {
                display: block;
            }
        }
    }

    &__link {
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        line-height: 1.500em;
        text-transform: capitalize;
        display: block;
        padding: 0.500em 1.250em;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            color: $color-1;
        }

        @include susy-breakpoint($size-screen) {
            margin: 0 1.875em;
            padding: 1.125em 0;
            display: inline;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                width: 0;
                height: 3px;
                margin-top: -3px;
                background: #3db7ef;
                transition: .3s all ease;
                left: 50%;
            }

            &:hover:before {
                left: 0;
                width: 100%;
            }

            &:hover {
                color: $color-3;
            }
        }

        &._active {
            color: $color-1;

            @include susy-breakpoint($size-screen) {
                color: $color-3;
                &:before {
                    left: 0;
                    width: 100%;
                }
            }
        }

        &_dropdown {
            @extend .b-top-menu__link;

            &:after {
                content: "\f0d7";
                font-family: "FontAwesome";
                font-size: 0.875em;
                color: inherit;
                float: right;
                transition: .3s all ease;
            }

            &._opened {
                &:after {
                    transform: rotate(180deg);
                }
            }

            @include susy-breakpoint($size-screen) {
                &:after {
                    padding-left: 13px;
                    float: none;
                }
            }

        }
    }

    &__dropdown {
        display: none;
        padding: 0 0.625em 0 2.250em;

        &._opened {
            display: block;
        }

        @include susy-breakpoint($size-screen) {
            position: absolute;
            background-color: $color-2;
            padding: 1.875em;
            margin-top: 0.875em;
            border-top: 1px solid #3db7ef;
            border-bottom: 1px solid #3db7ef;
        }
    }

    &__drop-item {
        margin-top: 0.625em;
        &:first-child {
            margin-top: 0;
        }
    }

    &__drop-link {
        color: $color-1;
        font-weight: 300;
        position: relative;
        cursor: pointer;
        display: block;
        padding: 0 0.625em 0 1.250em;
        vertical-align: middle;
        line-height: 1.500em;
        text-align: left;
        text-transform: capitalize;
        text-decoration: none;
        transition: .3s all ease;

        &:hover {
            color: $color-3;
        }

        &:before {
            content: "\f105";
            font-family: "FontAwesome";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.b-icon {
    color: $color-1;
    font-size: 1.125em;
    @include suffix(0.625em);
}



