.b-page {
    &__wrapper {
        @include container();
    }

    &__header {
        position: static;
    }

    &__parallax {
        @include span(12 of 12 nest);
        height: 5.875em;
        margin-top: 3.500em;

        &:before {
            height: 5.875em;
            content: "";
            position: absolute;
            background-image: url(http://livedemo00.template-help.com/wt_58977/images/backgrounds/bg-01-1920x400.jpg);
            background-size: cover;
            background-position: center center;
            left: 0;
            width: 100%;
            z-index: -1;
        }

        @include susy-breakpoint($size-phone-l) {
            height: 12.750em;

            &:before {
                height: 12.750em;
            }
        }

        @include susy-breakpoint($size-screen) {
            height: 18.000em;
            margin-top: 0;

            &:before {
                height: 18.000em;
            }

            &:after {
                content: "";
                position: absolute;
                right: -1%;
                width: 39.8%;
                height: 1.750em;
                margin-top: -1.750em;
                transform: skew(-34deg);
                background: $color-3;
                z-index: 1;
            }
        }
    }

    &__content {
        @include susy-clearfix;
        @include span(12 of 12 nest);
    }

    &__footer {
        @include susy-clearfix;
        @include span(12 of 12 nest);
        height: 12.875em;

        &:before {
            height: 12.875em;
            content: "";
            position: absolute;
            background: $color-7;
            fill: $color-7;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }
}