.b-parallax {
    height: 100%;

    &__section {
        @include span(12 of 12);
    }

    &__content {
        padding: 2.125em 0;

        @include susy-breakpoint($size-screen){
            padding: 5.250em 0 2.250em;
        }
    }

    &__title {
        color: $color-3;
        font-weight: bold;
        margin-bottom: 1.875em;
        display: none;

        @include susy-breakpoint($size-phone-l) {
            display: block;
        }
    }

    &__title-text {
        font-size: 3.375em;
    }

    &__breadcrumb {
        @include susy-breakpoint($size-phone-l) {
            margin-top: 2.500em;
        }

        @include susy-breakpoint($size-screen) {
            margin-top: 4.625em;
        }
    }
}